@media screen and (max-width: 1024px) {
    .down_desktop{
        display: none;
    }
    #vid{
        display: none;
    }
    .vid_mobile{
        display: block;
    }
    .cursor{
        display: none;
    }
    .pop{
        display: none;
    }
    .vertical{
        font-size: 40px;
    }
    .vertical_me_mobile{
        color: rgb(162, 0, 255) !important;
    }
    .card_about_mobile{
        position: absolute;
        top: 45% !important;
        left: 30% !important;
        transform: translateX(-50%) translateY(-50%) !important;
        padding-left: 50px;
    }
    .card_about_mobile > p{
        font-size: 1em !important;
    }
    .horizontal_about{
        display: none;
    }
    .welcome_text{
        display: none !important;
    }
    
}

@media screen and (min-width: 1024px) {
    .down_arrow_circle{
        display: none;
    }
    .down_desktop{
        display: block;
    }
    .down_line_mobile{
        display: none;
    }
    .down_text_mobile{
        display: none;
    }
    .vid_mobile{
        display: none;
    }
    .welcome_text{
        display: block;
    }
}
@media screen and (max-width: 1024px) and (orientation:landscape) {
    .down_arrow_circle{
        display: none;
    }
    .down_desktop{
        display: block;
    }
    .down_line_mobile{
        display: none;
    }
    .down_text_mobile{
        display: none;
    }
    .vid_mobile{
        display: none;
    }
    .welcome_text{
        display: block;
    }
}